.price{
  padding: 0 140px;
  .price__title{

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;

  }
  .price__row-card{
    display: flex;
  }
  .card{
    padding: 20px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  background: #FAFAFA;
    .price__row-card_text{
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      color: #000000;

    }
    .price__row-card_btn{
      margin-top: 30px;
      padding: 10px 56px 9px;
      border-radius: 10px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      color: #000000;
      background: transparent;
      border: 3px solid #FD7900;
    }

}
}
